video{
    height: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(122, 60, 60);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.video-container{
    display: flex;
    justify-content: center;
    height: 100%;
}
.main-container{
    background-color: rgb(207, 205, 210);
    display: flex;
    flex-direction: column;
    border: #0d0d0d solid 5px;
    border-radius: 30px;  
    height: 100vh;
    margin: 10px;
    
}
.title-container{
    height: 25%;
    background-color: rgb(8, 101, 98);
    display: flex;
    justify-content:center;
    align-items:center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px; 
}
.title{
    height: 100%;
    color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
}
.mid-container{
    background-color: rgb(207, 205, 210);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
}
.stations-container{
    height: 90%;
    width: 60%;
    background-image: url("https://images.pexels.com/photos/10633818/pexels-photo-10633818.jpeg");
    border: #0d0d0d solid 5px;
    border-radius: 30px;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 2%;
}

.basic-station {
    background-image: linear-gradient(-180deg, #424f68 0%, #212e3c 95%);
    border: #0d0d0d solid 3px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 1px 4px 6px rgb(26, 25, 25);
    border-radius: 30px;
    overflow: auto;
    font-size: 12px;
}

.basic-station:hover {
    background-image: linear-gradient(-180deg, #242e41 0%, #111b25 75%);
}
.station-row-1-container{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.station-4-9-container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.station-mid{
    height: 55%;
    width: 40%;
    padding: 1%;
}

.station-3-2-1-container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.station-sm{
    height: 55%;
    width: 27%;
    padding: 1%;
}

.station-row-2-container{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.station-5-8-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.station-bg{
    height: 60%;
    width: 20%;
    padding: 1%;
}
.station-bg-inner{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.station-row-3-container{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.station-6-7-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.table-container{
    height: 91%;
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.tbl{
    background-image: linear-gradient(-180deg, #424f68 0%, #212e3c 95%);
    color: white;
    width: 40%;
    border: 5px solid black;
    border-radius: 30px;
    overflow: auto;
}

.btn-container{
    height: 15%;
    background-color: rgb(8, 101, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;  
}
.btn-start{
    margin: 10px;
}

h2{
    text-align: center;
}
div h5 {
    margin-top: 0;
    margin-bottom: 0;
}
span{
    font-size: 16px;
}
  
    /* <!-- HTML !-->
    <button class="button-43" role="button">Button 43</button> */
    
    /* CSS */
    button {
      background-image: linear-gradient(-180deg, #424f68 0%, #212e3c 95%);
      border-radius: .5rem;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-size: 17px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      justify-content: center;
      align-items: center;
      padding: 1rem 1.75rem;
      width: 20%;
      border: #0d0d0d solid 3px;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      height: 35%;
    }
    
    button:hover {
        background-image: linear-gradient(-180deg, #242e41 0%, #111b25 75%);
    }